/*Ethan Huynh's css stylesheet for CSE 110 WI2020 Lab 3*/

/*Define the height of the entire page*/
html {
    height: 100%;
}

* {
    background-color: rgb(214, 203, 203);
}

/*Make links with this target be highlighted in yellow*/
a[target=highlight] {
    background-color: yellow;
}

/*Center the main navigation*/
nav {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

/*Make the headers obnoxious*/
.header {
    text-align: center;
    color: red;
    text-decoration: underline;
}

/*Make buttons have green text, white bg and be centered*/
button {
    color: hsl(154, 100%, 50%);
    background-color: rgb(235, 235, 235);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Make buttons bigger when you hover over them*/
button:hover {
    transform: scale(1.2);
}

/*Make secret area all black*/
#JAM {
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
    padding: 0%;
    margin: 0%;
}

#CAT {
    width: 80px;
    height: 80px;
}

/*Center videos*/
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Center images*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}