/*Ethan Huynh's css stylesheet for CSE 110 WI2020 Lab 3*/

/*Define the height of the entire page and the font*/
html {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

* {
    background-color: rgb(214, 203, 203);
}

/*Make links with this target be highlighted in yellow*/
a[target=highlight] {
    background-color: yellow;
}

/*Center the main navigation*/
nav {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

h3.header {
    font-size: 10px;
    font-style: oblique;
}

hr ~ h1 {
    text-align: center;
    text-decoration: underline;
}

/*Make the headers obnoxious*/
.header {
    text-align: center;
    color: red;
    text-decoration: underline;
}

/*Center table*/
table {
    margin-left: auto;
    margin-right: auto;
}

/*Make all the imgs inside the table the same height*/
table img {
    height: 300px;
}

/*Make all p tags in aside be centered and lighter*/
aside > p {
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
}

hr + p {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

/*Make buttons have green text and white bg*/
button {
    color: hsl(154, 100%, 50%);
    background-color: rgb(235, 235, 235);
}

/*Make buttons bigger when you hover over them*/
button:hover {
    transform: scale(1.2);
}

/*Make secret area all black*/
#JAM {
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
    padding: 0%;
    margin: 0%;
}

#CAT {
    width: 80px;
    height: 80px;
}

/*Center videos, imgs, buttons, and audio*/
video, img, button, audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}